@use "helper" as *;

$border-widths: (
  none: rem(0px),
  md: rem(1px),
  lg: rem(2px),
);

$border-colors: (
  none: (
    light: "transparent",
    dark: "transparent",
  ),
  default-focus: (
    light: "primary-600",
    dark: "primary-600",
  ),
  header: (
    light: "slate-500",
    dark: "slate-500",
  ),
  sidebar: (
    light: "slate-700",
    dark: "slate-700",
  ),
  editor: (
    light: "neutral-200",
    dark: "slate-500",
  ),
  document-name-form-hover: (
    light: "slate-400",
    dark: "slate-400",
  ),
  document-name-form-focus: (
    light: "neutral-000",
    dark: "neutral-000",
  ),
  document-name-form-error: (
    light: "red-500",
    dark: "red-500",
  ),
  sign-in-form-idle: (
    light: "slate-400",
    dark: "slate-400",
  ),
  sign-in-form-hover: (
    light: "slate-300",
    dark: "slate-300",
  ),
  sign-in-form-focus: (
    light: "primary-600",
    dark: "primary-600",
  ),
  sign-in-form-error: (
    light: "red-500",
    dark: "red-500",
  ),
  toast: (
    light: "primary-600",
    dark: "primary-600",
  ),
);

$borders: (
  none: (
    width: "none",
    style: "solid",
    color: "none",
  ),
  default-focus: (
    width: "lg",
    style: "solid",
    color: "default-focus",
  ),
  header: (
    width: "md",
    style: "solid",
    color: "header",
  ),
  sidebar: (
    width: "md",
    style: "solid",
    color: "sidebar",
  ),
  editor: (
    width: "md",
    style: "solid",
    color: "editor",
  ),
  toast: (
    width: "lg",
    style: "solid",
    color: "toast",
  ),
);
