@use "helper" as *;

// Buttons
$button-colors: (
  default: (
    idle: (
      bg: (
        light: "primary-600",
        dark: "primary-600",
      ),
      fg: (
        light: "neutral-000",
        dark: "neutral-000",
      ),
    ),
    hover: (
      bg: (
        light: "primary-400",
        dark: "primary-400",
      ),
    ),
    disabled: (
      bg: (
        light: "slate-500",
        dark: "slate-500",
      ),
    ),
  ),
);

$button-appearance: (
  padding-inline: (
    default: rem(16px),
  ),
  padding-block: (
    default: rem(10px),
  ),
  border-radius: (
    default: rem(4px),
  ),
  gap: (
    default: rem(8px),
  ),
);

// Skip-nav-link
$skip-nav-link-colors: (
  bg: (
    light: "neutral-000",
    dark: "slate-950",
  ),
  fg: (
    light: "slate-400",
    dark: "slate-300",
  ),
);

$skip-nav-link-appearance: (
  padding-inline: rem(32px),
  padding-block: rem(16px),
  border-radius: rem(16px),
);

// Theme-switch
$theme-switch-colors: (
  off: (
    light: "slate-500",
    dark: "slate-500",
  ),
  on: (
    light: "primary-600",
    dark: "primary-600",
  ),
  track-hover: (
    light: "primary-400",
    dark: "primary-400",
  ),
  thumb: (
    light: "neutral-000",
    dark: "neutral-000",
  ),
);

$theme-switch-appearance: (
  track-width: rem(48px),
  track-height: rem(24px),
  thumb-size: rem(12px),
  thumb-inset: rem(6px),
  border-radius: 1000vw,
  gap: rem(10px),
);

// Sidebar-toggle
$sidebar-toggle-colors: (
  idle: (
    bg: (
      light: "slate-700",
      dark: "slate-700",
    ),
    fg: (
      light: "neutral-000",
      dark: "neutral-000",
    ),
  ),
  active: (
    bg: (
      light: "primary-600",
      dark: "primary-600",
    ),
  ),
);

$sidebar-toggle-appearance: (
  width: bp(56px, 72px, 72px),
  height: bp(56px, 72px, 72px),
  border-width: rem(0px),
  line-width: bp(23px, 30px, 30px),
  line-height: rem(2px),
  line-gap: bp(5px, 6px, 6px),
);
