@use "helper" as *;
@use "page" as *;

// Page padding
$padding-page: ();

// Section padding
$padding-section: ();

// Container padding
$padding-container: (
  main-header-inline-start: 0px,
  main-header-inline-end: rem(16px),
  markdown-inline: rem(16px),
  markdown-block: rem(12px),
  preview-inline: rem(20px),
  preview-block: rem(24px),
  preview-lists-inline: rem(16px),
  editor-header-inline: rem(12px),
  editor-header-block: rem(12px),
  sidebar-inline: rem(24px),
  sidebar-block: rem(24px),
  code: rem(24px),
  blockquote-inline-start: rem(24px),
  blockquote-inline-end: rem(20px),
  blockquote-block: rem(24px),
  modal-inline: rem(24px),
  modal-block: rem(20px),
  toast-inline: rem(24px),
  toast-block: rem(20px),
);

// Container spacing
$spacer-container: (
  sm: rem(16px),
  md: rem(20px),
  lg: rem(24px),
  xl: rem(32px),
);

// Offset
$offset: (
  default-focus: rem(3px),
);
