---

---

<div class="container">
  Skip to
  <div class="links">
    <a href="#sidebar">document naviagation</a>
    <a href="#main">editor</a>
  </div>
</div>

<style lang="scss">
  .container {
    display: flex;
    gap: var(--size-8);
    position: absolute;
    z-index: 10000;
    justify-self: center;
    width: fit-content;
    font: var(--font-6);
    background-color: var(--skip-nav-link-bg-color);
    border: none;
    border-radius: 0 0 var(--skip-nav-link-border-radius)
      var(--skip-nav-link-border-radius);
    padding-block: var(--skip-nav-link-padding-block);
    padding-inline: var(--skip-nav-link-padding-inline);
    margin-inline: auto;
    transform: translateY(-120%);
    opacity: 0;
    transition:
      transform var(--trans-fast-out-sensitive),
      opacity var(--trans-fast-out);

    &:focus-within {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-4);
  }

  a {
    color: var(--skip-nav-link-fg-color);
    text-transform: capitalize;
  }
</style>
