---
// Component imports
import Button from "@/components/ui/Button.astro";
import ThemeSwitch from "@/components/ui/ThemeSwitch.astro";

// Asset imports
import SpinnerSvg from "@assets/icon-spinner.svg";
---

<aside id="sidebar">
  <div class="layout">
    <h2>My documents</h2>

    <!-- Add new document -->
    <Button text="+ New Document" fullWidth id="new-document-button" />

    <!-- Document list -->
    <ul class="document-list">
      <template id="document-list-item-template">
        <li class="document-list-item">
          <button type="button" class="document-list-button">
            <svg
              class="document-list-button-icon active"
              aria-hidden="true"
              viewBox="0 0 16 20"
              fill="none"
            >
              <path
                d="M8 0V6C8 6.53043 8.21071 7.03914 8.58579 7.41421C8.96086 7.78929 9.46957 8 10 8H16V18C16 18.5304 15.7893 19.0391 15.4142 19.4142C15.0391 19.7893 14.5304 20 14 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H8ZM9.5 0.5V6C9.5 6.13261 9.55268 6.25979 9.64645 6.35355C9.74021 6.44732 9.86739 6.5 10 6.5H15.5L9.5 0.5Z"
                fill="currentColor"></path>
            </svg>

            <svg
              class="document-list-button-icon inactive"
              aria-hidden="true"
              viewBox="0 0 16 20"
              fill="none"
            >
              <path
                d="M2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V18C0 18.5304 0.210714 19.0391 0.585786 19.4142C0.960859 19.7893 1.46957 20 2 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V7.828C15.9999 7.29761 15.7891 6.78899 15.414 6.414L9.586 0.586C9.21101 0.210901 8.70239 0.000113275 8.172 0H2ZM1.5 2C1.5 1.86739 1.55268 1.74021 1.64645 1.64645C1.74021 1.55268 1.86739 1.5 2 1.5H8V6C8 6.53043 8.21071 7.03914 8.58579 7.41421C8.96086 7.78929 9.46957 8 10 8H14.5V18C14.5 18.1326 14.4473 18.2598 14.3536 18.3536C14.2598 18.4473 14.1326 18.5 14 18.5H2C1.86739 18.5 1.74021 18.4473 1.64645 18.3536C1.55268 18.2598 1.5 18.1326 1.5 18V2ZM13.38 6.5H10C9.86739 6.5 9.74021 6.44732 9.64645 6.35355C9.55268 6.25979 9.5 6.13261 9.5 6V2.62L13.38 6.5Z"
                fill="currentColor"></path>
            </svg>

            <svg
              class="document-list-button-icon creating"
              aria-hidden="true"
              viewBox="0 0 34 34"
            >
              <circle cx="17" cy="2" r="2" fill="currentColor"></circle>
              <circle cx="17" cy="32" r="2" fill="currentColor" opacity="0.3"
              ></circle>
              <circle cx="24.5" cy="4" r="2" fill="currentColor" opacity="0.3"
              ></circle>
              <circle cx="9.5" cy="30" r="2" fill="currentColor" opacity="0.3"
              ></circle>
              <circle cx="9.5" cy="4" r="2" fill="currentColor" opacity="0.93"
              ></circle>
              <circle cx="24.5" cy="30" r="2" fill="currentColor" opacity="0.3"
              ></circle>
              <circle cx="2" cy="17" r="2" fill="currentColor" opacity="0.65"
              ></circle>
              <circle cx="32" cy="17" r="2" fill="currentColor" opacity="0.3"
              ></circle>
              <circle cx="4" cy="9.5" r="2" fill="currentColor" opacity="0.86"
              ></circle>
              <circle cx="30" cy="24.5" r="2" fill="currentColor" opacity="0.3"
              ></circle>
              <circle cx="4" cy="24.5" r="2" fill="currentColor" opacity="0.44"
              ></circle>
              <circle cx="30" cy="9.5" r="2" fill="currentColor" opacity="0.3"
              ></circle>
            </svg>
            <svg
              class="document-list-button-icon error"
              aria-hidden="true"
              viewBox="0 0 28 26"
              fill="none"
            >
              <path
                d="M15.2481 19.9985C15.2481 20.33 15.1164 20.648 14.882 20.8824C14.6475 21.1168 14.3296 21.2485 13.9981 21.2485C13.6666 21.2485 13.3486 21.1168 13.1142 20.8824C12.8798 20.648 12.7481 20.33 12.7481 19.9985C12.7481 19.667 12.8798 19.349 13.1142 19.1146C13.3486 18.8802 13.6666 18.7485 13.9981 18.7485C14.3296 18.7485 14.6475 18.8802 14.882 19.1146C15.1164 19.349 15.2481 19.667 15.2481 19.9985ZM13.9981 6.9985C13.7329 6.9985 13.4785 7.10386 13.291 7.29139C13.1034 7.47893 12.9981 7.73328 12.9981 7.9985V15.9985C12.9981 16.2637 13.1034 16.5181 13.291 16.7056C13.4785 16.8931 13.7329 16.9985 13.9981 16.9985C14.2633 16.9985 14.5176 16.8931 14.7052 16.7056C14.8927 16.5181 14.9981 16.2637 14.9981 15.9985V7.9985C14.9981 7.73328 14.8927 7.47893 14.7052 7.29139C14.5176 7.10386 14.2633 6.9985 13.9981 6.9985ZM10.9341 1.8075C12.2661 -0.6025 15.7301 -0.6025 17.0621 1.8075L27.5551 20.8065C28.8441 23.1385 27.1561 25.9985 24.4921 25.9985H3.50507C0.840074 25.9985 -0.846926 23.1385 0.441074 20.8065L10.9341 1.8075ZM15.3111 2.7745C15.1814 2.53981 14.9913 2.34415 14.7603 2.2079C14.5294 2.07165 14.2662 1.99978 13.9981 1.99978C13.73 1.99978 13.4667 2.07165 13.2358 2.2079C13.0049 2.34415 12.8147 2.53981 12.6851 2.7745L2.19207 21.7735C2.06599 22.0019 2.00164 22.2592 2.00538 22.52C2.00912 22.7808 2.08081 23.0362 2.21339 23.2608C2.34596 23.4855 2.53483 23.6717 2.76135 23.8011C2.98787 23.9304 3.24422 23.9985 3.50507 23.9985H24.4921C24.7529 23.9985 25.0093 23.9304 25.2358 23.8011C25.4623 23.6717 25.6512 23.4855 25.7838 23.2608C25.9163 23.0362 25.988 22.7808 25.9918 22.52C25.9955 22.2592 25.9312 22.0019 25.8051 21.7735L15.3111 2.7745Z"
                fill="currentColor"></path>
            </svg>

            <p class="document-list-button-time"></p>
            <p class="document-list-button-name"></p>
          </button>
        </li>
      </template>
    </ul>

    <!-- Login -->
    <div id="auth-container" class="auth-container" data-state="guest">
      <p class="info sign-in">Save your documents</p>
      <p class="info sign-out">
        Signed in as<br /><span id="auth-email-span"></span>
      </p>

      <Button
        text="Sign in"
        icon={SpinnerSvg}
        variant="secondary"
        id="auth-button"
        fullWidth
      />
    </div>

    <!-- Theme switch -->
    <ThemeSwitch />
  </div>
</aside>

<style is:global lang="scss">
  @use "../../../sass/miscellaneous/" as *;

  #sidebar {
    min-height: 0;
    background-color: var(--bg-container-sidebar);
    padding-inline: var(--pad-cont-sidebar-inline);
    padding-block: var(--pad-cont-sidebar-block);
    overflow: clip;

    .layout {
      height: 100%;
      display: grid;
      grid-template-rows: auto auto 1fr auto auto;
    }

    h2 {
      font: var(--font-9);
      text-transform: uppercase;
      letter-spacing: var(--ls-9);
      color: var(--fg-text-muted);
      margin-block-end: var(--space-cont-xl);
    }

    .document-list {
      display: grid;
      align-content: start;
      gap: var(--space-cont-lg);
      margin-block: var(--space-cont-lg);
      list-style: none;
      overflow-x: clip;
      overflow-y: auto;

      .status {
        display: flex;
        gap: var(--space-cont-sm);

        svg {
          width: var(--size-svg-spinner);

          @media (prefers-reduced-motion: no-preference) {
            display: block;
            animation: spinner 1.5s steps(12) infinite;
          }
        }

        p {
          font: var(--font-8);
        }
      }

      &-item {
        transition: opacity var(--trans-fast-out);

        @media (hover: hover) {
          &:not(:has([aria-current="true"])):hover {
            opacity: 0.5;
          }
        }

        &.chosen {
          opacity: 1 !important;
          transition: none;
        }

        &.drag {
          opacity: 0 !important;
        }

        &.is-moving:not(.chosen) {
          scale: 0.95;
          opacity: 0.5;
          transition:
            scale var(--trans-fast-out-sensitive) var(--delay-x-fast-sensitive),
            opacity var(--trans-fast-out) var(--delay-x-fast);
        }
      }

      &-button {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: start;
        align-items: center;
        column-gap: var(--space-cont-sm);
        background-color: transparent;
        color: var(--fg-text-neutral);
        border: none;
        cursor: pointer;
        text-decoration: none;

        &:focus-visible {
          outline-offset: calc(var(--size-2) * -1);
        }

        &-icon {
          display: none;
          width: var(--size-svg-document);
          grid-row: span 2;
        }

        &[data-status="creating"] .creating {
          display: block;
          animation: spinner 1.5s steps(12) infinite;
        }
        &[data-status="created"]:not([aria-current="true"]) {
          .inactive {
            display: block;
          }
        }
        &[data-status="created"][aria-current="true"] {
          .document-list-button-name {
            color: var(--fg-text-highlight);
          }
          .active {
            display: block;
            color: var(--fg-text-highlight);
          }
        }
        &[data-status="error"] .error {
          display: block;
        }

        &-time {
          font: var(--font-11);
          color: var(--fg-text-muted);
        }

        &-name {
          font: var(--font-6);
          color: var(--fg-text-neutral);
          text-align: start;
          transition: color var(--trans-fast-out);
        }
      }
    }

    .auth-container {
      display: grid;
      gap: var(--space-cont-sm);
      border-block-end: var(--border-sidebar);
      margin-block-end: calc(var(--space-cont-lg) / 2);
      padding-block-end: calc(var(--space-cont-lg) / 2);

      .info {
        display: none;
        color: var(--fg-text-muted);
        font: var(--font-8);
        line-height: 1.3;

        span {
          color: var(--fg-text-neutral);
        }
      }

      .button {
        .icon {
          display: none;
          width: var(--size-svg-spinner);
        }
      }

      &[data-state="guest"] {
        .sign-in {
          display: block;
        }
      }

      &[data-state="loading"] {
        .sign-in {
          display: block;
        }

        @media (prefers-reduced-motion: no-preference) {
          .button {
            .icon {
              display: block;
              animation: spinner 1.5s steps(12) infinite;
            }
          }
        }
      }

      &[data-state="authenticated"] {
        .sign-out {
          display: block;
        }
      }
    }
  }

  @keyframes spinner {
    to {
      rotate: 360deg;
    }
  }
</style>
