---
// Component imports
import DocumentNameForm from "./DocumentNameForm.astro";
import SidebarToggle from "./SidebarToggle.astro";
import SaveButton from "@/components/ui/SaveButton.astro";

// Asset imports
import Logo from "@assets/logo.svg";
import DeleteSvg from "@assets/icon-delete.svg";
---

<header class="main-header">
  <div class="layout">
    <SidebarToggle />
    <div class="left">
      <div class="logo">
        <Logo aria-hidden="true" />
      </div>
      <DocumentNameForm />
    </div>
    <div class="right">
      <button type="button" id="open-delete-modal" class="open-delete-modal">
        <span class="visually-hidden">Delete document</span>
        <DeleteSvg class="delete-icon" aria-hidden="true" />
      </button>
      <SaveButton />
    </div>
  </div>
</header>

<style lang="scss">
  @use "../../../sass/miscellaneous/" as *;

  .main-header {
    background-color: var(--bg-container-main-header);

    .layout {
      display: grid;
      grid-template-columns: auto 1fr auto;
      justify-items: start;
      align-items: center;
      padding-inline-start: var(--pad-cont-main-header-inline-start);
      padding-inline-end: var(--pad-cont-main-header-inline-end);
    }
  }

  .left {
    width: 100%;
    display: flex;
    align-items: center;

    .logo {
      display: none;
      border-right: var(--border-header);
      padding-inline: var(--space-cont-lg);

      svg {
        width: var(--size-logo-default);
      }

      @include mq(medium) {
        display: block;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: var(--space-cont-lg);

    .open-delete-modal {
      display: grid;
      place-items: center;
      background-color: transparent;
      color: var(--fg-text-muted);
      border: none;
      cursor: pointer;
      transition:
        scale var(--trans-fast-out-sensitive),
        color var(--trans-fast-out);

      @media (hover: hover) {
        &:hover {
          scale: 1.05;
          color: var(--fg-text-highlight);
        }
      }

      &:focus {
        outline: 0px solid transparent;
      }

      &:focus-visible {
        color: var(--fg-text-highlight);
      }

      .delete-icon {
        width: var(--size-svg-delete);
      }
    }
  }
</style>
