---
// Component imports
import MainHeader from "./MainHeader.astro";
import Markdown from "./Markdown.astro";
import Preview from "./Preview.astro";
import Button from "@/components/ui/Button.astro";

// Asset imports
import ShowSvg from "@assets/icon-show-preview.svg";
import HideSvg from "@assets/icon-hide-preview.svg";
---

<main id="main">
  <MainHeader />
  <div class="editor" data-view="markdown">
    <Markdown />
    <Preview />

    <!-- Preview toggle -->
    <button
      type="button"
      id="view-toggle"
      class="view-toggle"
      aria-pressed="false"
      aria-controls="preview"
    >
      <span class="visually-hidden">Show preview only</span>
      <ShowSvg class="show-icon" aria-hidden="true" />
      <HideSvg class="hide-icon" aria-hidden="true" />
    </button>
    <!-- Delete modal -->
    <dialog id="delete-modal" class="delete-modal">
      <h2>Delete this document?</h2>
      <p>
        Are you sure you want to delete the ‘<span
          id="delete-modal-document-name"></span>’ document and its contents?
        This action cannot be reversed.
      </p>
      <Button
        text="Confirm & Delete"
        id="delete-modal-confirmation-button"
        fullWidth
      />
    </dialog>
  </div>
</main>

<style lang="scss">
  @use "../../../sass/miscellaneous/" as *;

  #main {
    min-height: 0;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
  }

  .editor {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    @include mq(medium) {
      &[data-view="markdown"] {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      }
      &[data-view="preview"] {
        grid-template-columns: minmax(0, 1fr);
      }
    }

    .view-toggle {
      position: absolute;
      top: var(--size-20);
      right: var(--pad-cont-editor-header-inline);
      display: grid;
      place-items: center;
      color: var(--fg-text-base);
      cursor: pointer;
      background-color: transparent;
      border: none;
      transform: translateY(-50%);
      transition:
        scale var(--trans-fast-out-sensitive),
        color var(--trans-fast-out);

      @media (hover: hover) {
        &:hover {
          scale: 1.05;
          color: var(--fg-text-highlight);
        }
      }

      &:focus {
        outline: 0px solid transparent;
      }

      &:focus-visible {
        color: var(--fg-text-highlight);
      }

      &[aria-pressed="false"] {
        .show-icon {
          display: block;
        }
        .hide-icon {
          display: none;
        }
      }
      &[aria-pressed="true"] {
        .show-icon {
          display: none;
        }
        .hide-icon {
          display: block;
        }
      }

      .show-icon {
        width: var(--size-svg-show-preview);
      }
      .hide-icon {
        width: var(--size-svg-hide-preview);
      }
    }

    .delete-modal {
      place-self: center;
      width: min(21.5rem, 100%);
      background-color: var(--bg-container-modal);
      border: none;
      border-radius: var(--br-md);
      padding-inline: var(--pad-cont-modal-inline);
      padding-block: var(--pad-cont-modal-block);
      margin-inline: var(--space-cont-sm);
      opacity: 0;
      transition:
        opacity var(--trans-fast-out),
        overlay var(--trans-fast-out) allow-discrete,
        display var(--trans-fast-out) allow-discrete;

      h2 {
        font: var(--font-4);
        color: var(--fg-text-strong);
      }

      p {
        font: var(--font-8);
        color: var(--fg-text-base);
        margin-block-start: var(--space-cont-sm);
        margin-block-end: var(--space-cont-md);
      }

      &::backdrop {
        background-color: transparent;
        transition:
          background-color var(--trans-fast-out),
          overlay var(--trans-fast-out) allow-discrete,
          display var(--trans-fast-out) allow-discrete;
      }

      &[open] {
        opacity: 1;

        &::backdrop {
          background-color: var(--bg-overlay-modal);
        }

        @starting-style {
          opacity: 0;

          &::backdrop {
            background-color: transparent;
          }
        }
      }
    }
  }
</style>
