---

---

<section id="preview" class="preview" aria-labelledby="preview-title">
  <!-- Header -->
  <header class="preview-header">
    <h2 id="preview-title">Preview</h2>
  </header>

  <!-- Body -->
  <div class="preview-body">
    <div id="preview-content" class="preview-content"></div>
  </div>
</section>

<style is:global lang="scss">
  @use "../../../sass/miscellaneous/" as *;

  .editor[data-view="markdown"] .preview {
    display: none;

    @include mq(medium) {
      display: grid;
    }
  }

  .editor[data-view="preview"] .preview {
    display: grid;

    &-content {
      margin-inline: auto;
    }
  }

  .preview {
    min-height: 0;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font: var(--font-9);
      letter-spacing: var(--ls-9);
      color: var(--fg-text-base);
      text-transform: uppercase;
      background-color: var(--bg-container-editor-header);
      padding-inline: var(--pad-cont-editor-header-inline);
      padding-block: var(--pad-cont-editor-header-block);
    }

    &-body {
      padding-inline: var(--pad-cont-preview-inline);
      padding-block: var(--pad-cont-preview-block);
      overflow: auto;
    }
  }

  .preview-content {
    max-width: 45rem;

    > * + * {
      margin-block-start: var(--space-cont-md);
    }

    p {
      font: var(--font-8);
      color: var(--fg-text-base);
    }

    a {
      color: var(--fg-text-strong);
      transition: var(--trans-fast-out);

      @media (hover: hover) {
        &:hover {
          color: var(--fg-text-highlight);
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--fg-text-strong);
    }

    h1 {
      font: var(--font-1);
    }

    h2 {
      font: var(--font-2);
      letter-spacing: var(--ls-2);
    }

    h3 {
      font: var(--font-3);
    }

    h4 {
      font: var(--font-4);
    }

    h5 {
      font: var(--font-5);
    }

    h6 {
      font: var(--font-7);
    }

    ol {
      list-style-position: inside;
      padding-inline: var(--pad-cont-preview-lists-inline);
    }

    ul {
      list-style-position: inside;
      padding-inline: var(--pad-cont-preview-lists-inline);

      li::marker {
        color: var(--fg-text-highlight);
      }
    }

    blockquote {
      position: relative;
      font: var(--font-7);
      color: var(--fg-text-strong);
      background-color: var(--bg-container-preview-block);
      padding-inline-start: var(--pad-cont-blockquote-inline-start);
      padding-inline-end: var(--pad-cont-blockquote-inline-end);
      padding-block: var(--pad-cont-blockquote-block);
      border-radius: var(--br-md);
      overflow: clip;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: var(--size-4);
        height: 100%;
        background-color: var(--fg-text-highlight);
      }
    }

    code {
      font: var(--font-10);
      color: var(--fg-text-strong);
    }

    pre {
      font: var(--font-10);
      color: var(--fg-text-strong);
      background-color: var(--bg-container-preview-block);
      padding-inline-start: var(--pad-cont-blockquote-inline-start);
      padding-inline-end: var(--pad-cont-blockquote-inline-end);
      padding-block: var(--pad-cont-blockquote-block);
      border-radius: var(--br-md);
    }
  }
</style>
