---
// Stylesheet import
import "@sass/main.scss";

// Type imports
import type { HTMLAttributes } from "astro/types";

// Component imports
import BaseHead from "@layouts/BaseHead.astro";

interface Props extends HTMLAttributes<"html"> {
  title: string;
  description: string;
  ogImage: string;
}
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <slot />
  </body>
</html>
