---
// Stylesheet import
import "@sass/main.scss";
import "lenis/dist/lenis.css";

// Type imports
import type { HTMLAttributes } from "astro/types";

// Component imports
import BaseHead from "@layouts/BaseHead.astro";
import SkipNavLink from "@/components/layout/SkipNavLink.astro";
import Sidebar from "@/components/layout/sidebar/Sidebar.astro";
import Main from "@/components/layout/main/Main.astro";

interface Props extends HTMLAttributes<"html"> {
  title: string;
  description: string;
  ogImage: string;
}
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <SkipNavLink href="#sidebar" name="documents" />
    <Sidebar />
    <Main />
  </body>
</html>
