---
// Types
import type { HTMLAttributes, SvgComponent } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  text?: string;
  icon?: SvgComponent;
  classes?: string;
}

const { type = "button", text, icon, classes, ...rest } = Astro.props;

const Icon = icon;
---

<button class:list={["btn", { hasIcon: icon }, classes]} {type} {...rest}>
  {Icon && <Icon class="icon" aria-hidden="true" />}
  {text && <span class="text">{text}</span>}
</button>

<style lang="scss">
  @use "../../sass/miscellaneous/" as *;

  .btn {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--btn-gap-default);
    background-color: var(--btn-bg-color-idle-default);
    color: var(--btn-fg-color-idle-default);
    font: var(--font-6);
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: var(--btn-border-radius-default);
    padding-inline: var(--btn-padding-inline-default);
    padding-block: var(--btn-padding-block-default);
    transition:
      transform var(--trans-fast-out-sensitive),
      background-color var(--trans-fast-out),
      outline-color var(--trans-fast-in),
      outline-offset var(--trans-fast-out-sensitive);

    &:disabled {
      background-color: var(--btn-bg-color-disabled-default);
      cursor: not-allowed;
    }

    @media (hover: hover) {
      &:not(:disabled):hover {
        transform: scale(1.02);
        background-color: var(--btn-bg-color-hover-default);
      }
    }

    &.hasIcon {
      .text {
        display: none;

        @include mq(medium) {
          display: inline;
        }
      }

      .icon {
        width: var(--btn-svg-width-default);
        color: inherit;
      }
    }
  }
</style>
