---
// Types
import type { HTMLAttributes, SvgComponent } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  text?: string;
  icon?: SvgComponent;
  classes?: string;
}

const { type = "button", text, icon, classes, ...rest } = Astro.props;

const Icon = icon;
---

<button class:list={["btn", classes]} {type} {...rest}>
  {text && <span class="text">{text}</span>}
  {Icon && <Icon class="icon" aria-hidden="true" />}
</button>

<style lang="scss">
  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--btn-gap-default);
    background-color: var(--btn-bg-color-idle-default);
    color: var(--btn-fg-color-idle-default);
    font: var(--font-6);
    text-transform: none;
    text-decoration: none;
    border: none;
    border-radius: var(--btn-border-radius-default);
    padding-inline: var(--btn-padding-inline-default);
    padding-block: var(--btn-padding-block-default);
    transition:
      background-color var(--trans-fast-out),
      outline-color var(--trans-fast-in),
      outline-offset var(--trans-fast-out-sensitive);

    &:not(:disabled) {
      cursor: pointer;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--btn-bg-color-hover-default);
      }
    }

    .icon {
      width: var(--btn-icon-size-default);
      color: inherit;
    }
  }
</style>
