---
// Types
import type { HTMLAttributes, SvgComponent } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  text?: string;
  icon?: SvgComponent;
  variant?: "primary" | "secondary" | "tertiary";
  fullWidth?: boolean;
  classes?: string;
}

const {
  type = "button",
  text,
  icon,
  variant = "primary",
  fullWidth = false,
  classes,
  ...rest
} = Astro.props;

const Icon = icon;
---

<button
  class:list={["button", variant, { hasIcon: icon, fullWidth }, classes]}
  {type}
  {...rest}
>
  {Icon && <Icon class="icon" aria-hidden="true" />}
  {text && <span class="text">{text}</span>}
</button>

<style lang="scss">
  @use "../../sass/miscellaneous/" as *;

  .button {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--btn-gap-default);
    font: var(--font-6);
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--btn-border-radius-default);
    padding-inline: var(--btn-padding-inline-default);
    padding-block: var(--btn-padding-block-default);
    transition:
      transform var(--trans-fast-out-sensitive),
      background-color var(--trans-fast-out),
      color var(--trans-fast-out),
      outline-color var(--trans-fast-in),
      outline-offset var(--trans-fast-out-sensitive);

    &:disabled {
      cursor: not-allowed;
    }

    &.hasIcon {
      .icon {
        width: var(--btn-svg-width-default);
        color: inherit;
      }
    }

    &.primary {
      background-color: var(--btn-bg-color-idle-primary);
      color: var(--btn-fg-color-idle-primary);
      border: none;

      &:disabled {
        background-color: var(--btn-bg-color-disabled-primary);
      }

      @media (hover: hover) {
        &:not(:disabled):hover {
          transform: scale(1.01);
          background-color: var(--btn-bg-color-hover-primary);
        }
      }
    }

    &.secondary {
      background-color: var(--btn-bg-color-idle-secondary);
      color: var(--btn-fg-color-idle-secondary);
      border-width: var(--btn-border-width-default);
      border-style: solid;
      border-color: var(--btn-border-color-idle-secondary);

      &:disabled {
        background-color: var(--btn-bg-color-disabled-secondary);
        color: var(--btn-fg-color-disabled-secondary);
        border-color: var(--btn-border-color-disabled-secondary);
      }

      @media (hover: hover) {
        &:not(:disabled):hover {
          background-color: var(--btn-bg-color-hover-secondary);
          color: var(--btn-fg-color-hover-secondary);
          border-color: var(--btn-border-color-hover-secondary);
        }
      }
    }

    &.tertiary {
      background: none;
      color: var(--btn-fg-color-idle-tertiary);
      border: none;
      text-decoration: underline;

      &:disabled {
        background: none;
        color: var(--btn-fg-color-disabled-tertiary);
      }

      @media (hover: hover) {
        &:not(:disabled):hover {
          background: none;
          color: var(--btn-fg-color-hover-tertiary);
        }
      }

      &:focus {
        outline: 0px solid transparent;
      }

      &:focus-visible {
        color: var(--btn-fg-color-hover-tertiary);
      }
    }

    &.fullWidth {
      width: 100%;
    }
  }
</style>
