---
// Asset imports
import WarningSvg from "@assets/icon-warning.svg";
import CloseSvg from "@assets/icon-close.svg";
---

<div id="toast" class="toast" role="status">
  <div class="layout">
    <WarningSvg class="warning-icon" aria-hidden="true" />
    <p class="message">This is a test</p>
    <button id="close-toast-button" class="close-button" type="button">
      <span class="visually-hidden">Close</span>
      <CloseSvg class="close-icon" aria-hidden="true" />
    </button>
  </div>
</div>

<style lang="scss">
  .toast {
    position: fixed;
    bottom: var(--space-cont-md);
    right: var(--space-cont-md);
    display: none;
    opacity: 0;
    font: var(--font-6);
    background-color: var(--bg-container-toast);
    border: var(--border-toast);
    border-radius: var(--br-md);
    padding-inline: var(--pad-cont-toast-inline);
    padding-block: var(--pad-cont-toast-block);
    translate: 0 -3rem;
    transition:
      display var(--trans-fast-out) allow-discrete,
      opacity var(--trans-fast-out),
      translate var(--trans-default-out-sensitive);

    .layout {
      display: flex;
      align-items: center;
      gap: var(--space-cont-sm);
    }

    .warning-icon {
      width: var(--size-svg-toast);
    }

    .close-button {
      display: grid;
      place-items: center;
      background-color: transparent;
      cursor: pointer;
      color: var(--fg-text-muted);
      border: none;
      transition:
        scale var(--trans-fast-out-sensitive),
        color var(--trans-fast-out);

      @media (hover: hover) {
        &:hover {
          scale: 1.1;
          color: var(--fg-text-highlight);
        }
      }

      &:focus {
        outline: 0px solid transparent;
      }

      &:focus-visible {
        color: var(--fg-text-highlight);
      }

      .close-icon {
        width: var(--size-svg-close);
      }
    }

    &.show {
      display: block;
      opacity: 1;
      translate: 0 0;

      @starting-style {
        opacity: 0;
        translate: 0 3rem;
      }
    }
  }
</style>
